@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,200&display=swap');

    * {
        margin: 0;
        padding: 0;
    }

    .top {
        display: flex;
        flex-direction: row;
        /* flex-wrap: wrap; */
        width: 100%;
        height: 135px;
        background-color: black;
        color: cornsilk;
        box-shadow: 0px 4px 6px 0px black;
        position: fixed;
        z-index: 11;
    }

    .logo {
        width: 121px;
        padding: 8px;
        margin-left: 50px;
        animation-name: logo;
        border-radius: 15px;
        animation-duration: 5s;
    }

     /* @keyframes logo{
       0%   {width: 600px;}
       50%  {transform: rotate(720deg)}
       100% {width: 121px; transform: rotate(720deg);}
    }  */
    .nav{
        margin-left: auto;
    }

    .nav ul li {
        list-style: none;
        display: inline-block;
        padding: 4px;
        margin: 10px;
    }

    .nav li a {
        text-decoration: none;
        color: white;
    }

    .nav a:hover {
        color: dimgray;
        cursor: pointer;
    }
    .bar{
        display: none;
    }
    .but {
        /* float: right; */
        margin-top: 7px;
        /* margin-right: -685px; */
    }

    .login,.signin {
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: rgb(0, 0, 0);
        color: cornsilk;
        border-radius: 8px;
    }

    .login:hover,
    .signin:hover {
        color: dimgray;
        cursor: pointer;
    }
    .after{
        display: none;
    }
    .mainbar {
        display: flex;
        flex-wrap: wrap;
        margin-top: 141px;
        justify-content: center;
        text-align: center;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .mainbar ul {
        margin: 12px;
    }

    .mainbar ul li {
        list-style: none;
        display: inline;
        margin-left: 50px;
        /* margin-right: 50px; */
        padding: 0px 31px;
    }

    .mainbar a {
        list-style: none;
        text-decoration: none;
        color: #000;
    }

    .nav ul {
        /* margin-right: 220px; */
        /* float: right; */
        /* border-bottom: 1px  rgb(220, 167, 167); */
        box-shadow: 0 4px 5px 0 rgb(47, 45, 45), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
    }

    .dropbtn{
        background-color: black;
        color: rgb(255, 255, 255);
        padding: 12px;
        cursor: pointer;
        margin-left: 16px;
        width: 180px;
        border-radius: 8px;
        font-size: 18px;
    }

    .dropdown{
        position: relative;
        display: inline-block;
        padding: 4px;
        margin: 4px;
    }

    .dropdown-content{
        display: none;
        position: absolute;
        top: 100%;
        left: 10%;
        background-color: #f9f9f9;
        min-width: 250px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 6px;
        right: 0;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border-radius: 3px;
    }
    
    .dropdown-content a:hover {
        background-color: #d4d0d0
    }
    .dropdown:hover .dropdown-content {
        display: block;
        border: 2px solid black;
        margin: 3px;
    }
    .dropdown:hover .dropbtn {
        background-color: #020202;
    }

    .dropbtn i{
        padding: 4px;
    }

    .outlate {
        display: flex; 
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }

    .outraw {
        display: flex;
        flex-direction: column;
        max-width: 277px;
        max-height: 463px;
        border-radius: 8px;
        background-color: rgb(230, 226, 226);
        box-shadow: 0 4px 8px 0 rgba(37, 35, 35, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        /* margin: inherit; */
        margin: 25px 18px;
        border: 2px groove rgb(230, 226, 226);
        overflow: hidden;
    }

    .outlate :hover {
        background-color: rgba(255, 255, 255, 0.4);
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
        /* background-color: rgb(237, 210, 210); */
    }

    .aid {
        border-right: 2px none rgb(245, 128, 128);
        display: flex;
        flex-direction: row;
    }

    .r1 {
        display: flex;
        flex-wrap: wrap;
        margin: 3px 0 0 3px;
        width: 270px;
        /* margin: auto; */
        border-radius: 51px;
        overflow: hidden;
    }

    .info {
        /* margin: -195px 0 0 220px; */
        margin: 11px 2px;
    }

    .tagline {
        color: rgb(34, 0, 129);
    }

    .hading {
        font-family: 'Source Serif Pro', serif;
        font-size: larger;
        color: rgb(0, 0, 0);
        margin: 12px 0px;
    }

    .discount {
        font-family: 'Noto Sans', sans-serif;
        margin: 2px 0px;
        /* font-weight: lighter; */
        font-size: small;
    }

    .price {
        font-family: 'Noto Sans', sans-serif;
        font-size: medium;
        margin: 2px 0px;
    }

    .click1 {
        padding: 4px;
        margin: 2px 2px 10px 5px;
        height: 40px;
        width: 265px;
        background-color: #fff;
        font-size: 12px;
        border: none;
        border-radius: 10px;
        font-weight: bold;
        overflow: hidden;
    }

    .click1:hover {
        background-color: rgb(168, 168, 168);
        cursor: pointer;
    }

    .more {
        height: 50px;
        width: 200px;
        background-color: #fff;
        border: 2px solid gray;
        border-radius: 8px;
        font-size: large;
        cursor: pointer;
    }

    .more:hover{
        background-color: #000;
        color: white;
        transition: color .30s;
    }
    .butmore {
        display: flex;
        justify-content: center;
        margin: 10px 0px;
    }

    footer {
        background: #f1f1f1;
        padding: 40px 0px 1px 0px;
        overflow: hidden;
    }

    .raw {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        border-bottom: 2px solid #000;
    }

    .col {
        margin: 0px 25px;
        padding: 0px 10px;
    }

    .raw h3 {
        font: 500 9.5px Raleway, sans-serif;
        font-size: large;
        font-weight: bold;
        color: black;
        /* text-align: center; */
    }

    .col a {
        /* display: block; */
        margin: 24px 0px;
        display: flex;
        flex-direction: column;
        padding: 4px;
        text-decoration: none;
        font-family: Nunito Sans, sans-serif;
        list-style: none;
        outline: none;
        color: rgb(46, 46, 46);
    }

    .copy {
        text-align: center;
        margin: 24px 0px;
        color: rgb(46, 46, 46);
    }