@media screen and (max-width : 1048px) {

    .mainbar ul li {
        margin-left: 25px;
    }

    .bar {
        display: none;
    }

    .nav{
        display: flex;
    }
}

@media screen and (max-width : 902px) {
    .top {
        display: flex;
        justify-content: space-between;
    }

    .nav {
        position: absolute;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        top: 100%;
        right: 0%;
    }

    .nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: none;
        background-color: rgb(0, 0, 0, 0.5);
        width: 400px;
    }

    .nav li a {
        background-color: transparent;
        font-size: 18px;
        color: white;
        position: relative;
    }

    .bar:hover .nav a {
        cursor: pointer;
        display: block;
    }

    .bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        top: 0;
        right: 0;
        color: rgb(255, 255, 255);
        display: block;
        margin: 14px 7px;
        padding: 2px 2px;
    }

    .bar button{
        border: none;
        background-color: transparent;
        color: white;
    }

    .login,
    .signin {
        padding: 7px;
        margin: 0px 5px;
        float: left;
    }

    .but {
        margin-top: 15px;
        margin-right: 40px;
    }

    .mainbar ul li {
        margin-left: 15px;
        padding: 12px;
    }
}

@media screen and (max-width : 636px) {
    .mainbar ul li {
        margin-left: 10px;
        padding: 12px;
    }

    .outraw {
        max-width: 250px;
        height: 435px;
    }

    .r1 {
        border-radius: 0px;
    }

    .click1 {
        width: 239px;
    }
}

@media screen and (max-width : 582px) {

    .logo {
        margin: 0px;
    }

    .outraw {
        max-width: 170px;
        height: 380px;
        padding: 2px;
    }

    .click1 {
        width: 162px;
        margin: 2px 3px 5px 3px; 
    }

    .mainbar li {
        margin: 20px 0px;
    }

    .mainbar li a {
        margin: 0px 20px;
    }

    .raw {
        vertical-align: middle;
    }

}

@media screen and (max-width : 480px) {

    .dropbtn {
        padding: 0px;
        width: 200px;
        margin: 0px;
    }

    .dropdown-content {
        left: 0;
    }
}

@media screen and (max-width : 420px) {

    .outraw {
        max-width: 140px;
        height: 350px;
    }

    .click1 {
        width: 132px;
    }
}


@media screen and (max-width : 360px) {

    .outraw {
        max-width: 118px;
        height: 348px;
    }

    .click1 {
        width: 110px;
    }

    .but{
        margin-right: 0;
    }

    .nav ul{
        text-align: center;
    }
.bar{
    right: 40%;
}
}